.main {
  cursor: url("../../assets/WAM_Hammer.png"), auto;
}
.infoPanel {
  display: flex;
  justify-content: space-around;
  font-family: "Titan One", cursive;
  font-size: 3em;
  padding-top: 2em;
  color: rgb(204, 47, 65);
}

.board {
  width: 70%;
  height: 50vh;
  display: grid;
  place-items: center;
  padding-top: 8em;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board > * {
  height: 100px;
  width: 100px;
  border: none;
  /* margin: 1.5em; */
  width: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
