.main {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Titan One", cursive;
}

.main > h1 {
  color: rgb(114, 31, 41);
  font-size: 3em;
  padding: 5%;
}
