.main {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Titan One", cursive;
}

.main > h1 {
  color: rgb(140, 20, 34);
  font-size: 3em;
  text-shadow: 4px 4px 8px rgba(204, 139, 74, 0.743),
    -4px -4px 8px rgba(246, 231, 69, 0.743);
}
